.card {
    display: flex;
    background: #303030;
    margin: 20px;
    padding: 1rem;
}
.card_body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.info_card {
    margin: 0;
    flex-grow: 1;
    margin-left: 20px;
}
.info_card h4 {
    color: darkorange;
}
.item_image {
    width: 40%;
    height: 90%;
    border-radius: 10px;
}
.list_group {
    list-style: none;
}

.list_group_item {
    padding: .25rem;
}
.term {
    margin: .5rem;
}