.person-details {
    display: flex;
    padding: 1rem;
}
.card-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.info-card {
    margin: 0;
    flex-grow: 1;
    margin-left: 20px;
}
.info-card h4 {
    color: darkorange;
}
.person-image {
    width: 40%;
    height: 90%;
    border-radius: 10px;
}

.person-details .list-group-item {
    padding: .25rem;
}
.person-details .list-group-item .term {
    margin: .5rem;
}