.list_items {
    width: 100%;
    background: #303030; 
    list-style: none; 
    margin: 10px 20px;  
}
.list_item {
    padding: 5px 0;
    font-size: 14px;
}

.list_item:hover {
    background: darkgray;
    cursor: pointer;
}