.header_wrapper {    
    display: flex;
    align-items: baseline;
    font-size: 16px;
}
.header_wrapper h3 {
    margin-top: .5rem;
    padding-left: 10px;
    font-size: 20px;
}
.header_items {
    display: flex;
    list-style: none;    
}
.header_items li {
    margin: 5px;
    padding: .5rem 1rem;
    border-radius: 3px;
}
.header_items li:hover {
    background: #444;
}