.page_wrapper {
    display:flex;
    flex-wrap: wrap;
    margin: 0 20px;
    justify-content: space-between;
}
.left_block {
    flex-grow: 1;
    margin-right: 50px;
}
.right_block {
    flex-grow: 1;
}
